<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students Data</title>
</head>

<body>
    <h1>The data is being rendered from the EJS file</h1>

    <table border="5" cellpadding="8" cellspacing="0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% students.forEach(student=> { %>
                <tr>
                    <td>
                        <%= student.name %>
                    </td>
                    <td>
                        <%= student.age %>
                    </td>
                    <td>
                        <%= student.email %>
                    </td>
                    <td>
                        <a href="ui/student/<%= student._id %>">Edit</a> |
                        <a href="ui/delete/<%= student._id %>">Delete</a>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</body>

</html>